.projectPageHeroBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: var(--mainColor);
}

.projectPageHeroBanner h1 {
  font-size: 6rem;
}

.projectPageDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.laptopCard {
  width: 1000px;
  height: 500px;
  border: 5px solid black;
  position: relative;
  overflow: scroll;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.627);
  border: 1px solid var(--mainGreyColor);
}

.cardImage {
  width: 100%;
}

.projectPageCommentsSection {
  width: 70%;
  margin-top: 3rem;
}

.projectPageCommentsSectionTitle {
  font-size: 2rem;
}

.projectPageComentInputContainer {
  display: flex;
  flex-direction: column;
}

.projectPageComentInputContainer input {
  margin-top: 2rem;
  padding: 10px;
}

.projectPageComentInputContainer textarea {
  margin: 1rem 0;
  height: 80px;
  padding: 10px;
}

.projectPageComentInputContainer button {
  width: 200px;
  padding: 20px;
  border: none;
  background-color: var(--mainColor);
  border-radius: 8px;
}

.projectPageCommentsContainer {
  margin-top: 2rem;
}

.projectPageCommentElement {
  display: flex;
  margin-bottom: 2rem;
}

.projectPageCommentProfileImage {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.projectPageCommentProfileImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.projectPageCommentProfileName {
  color: var(--mainGreyColor);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
