.projectPageHeroBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: var(--mainColor);
}

.projectPageHeroBanner h1 {
  font-size: 6rem;
}

.projectPageDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
